<!DOCTYPE html>
<html ng-app="ok">
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS Geocoding</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
</head>
<body>

<div ng-controller="Geo">
    <input type="text" ng-model="geo.name" ng-model-options="{debounce: 1000}"
           coordinates="geo.latLng" address="geo.name" result="geo.result" geocode />
    <input type="number" ng-model="geo.latLng.lat" ng-model-options="{debounce: 1000}" />
    <input type="number" ng-model="geo.latLng.lng" ng-model-options="{debounce: 1000}" />
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../src/angular-geocode.js"></script>
<script src="../src/angular-geocode-directive.js"></script>
<script src="../src/angular-geocode-provider.js"></script>

<script>
    //https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete
    angular.module('ok', ['angularGeocode'])
            .controller('Geo', ['$scope', function($scope) {
                $scope.geo = {
                    name: "Paris",
                    latLng: {
                        lat: 0,
                        lng: 0
                    },
                    result: null
                };

                $scope.$watch('geo.result', function(result) {
                    console.log(result);
                });
            }]);
</script>
</body>
</html>